.header {
    position: fixed;
    z-index: 1;
    width: 100%;
    min-height: 101px;
    background-color: #FFFFFF !important;
    box-shadow: 0 5px 11px 0 rgba(29, 0, 62, 0.07);
}

.header .navbar-toggler {
    border: none;
    width: fit-content;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0;
}

.logo {
    margin-left: 50px;
}

.navbar-nav .nav-item {
    margin-left: 20px;
    font-size: 17px;
    line-height: 33px;
}

.fa.fa-angle-right {
    line-height: 33px;
    text-justify: center;
    margin-left: 15px;
}

.navbar-nav .nav-item .nav-link.nav-a {
    color: #7F88A0;
}

.right-header .nav-link.nav-a.last {
    color: #FFFFFF;
}

.left-header > li:last-of-type {
    font-size: 18px;
}

.right-header > li:last-of-type {
    margin-right: 70px;
    background-color: #16DFB5;
    height: 50px;
    width: 145px;
    text-align: center;
    border-radius: 4px 25px 25px 20px;
    color: #FFFFFF;
    font-size: 18px;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        justify-content: space-between;
    }
}

@media (max-width: 992px) {
    .nav-link.nav-a.last {
        background-color: #FFFFFF !important;
        height: inherit;
        width: inherit;
        text-align: start;
        color: #7F88A0 !important;
    }
    .nav-link.nav-a.last > i {
        display: none;
    }
}
