@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main {
  position: relative;
  top: 101px;
  color: #FFFFFF;
}

.container {
  padding-top: 70px;
}

.background {
  position: absolute;
  border-radius: 53px;
  height: 1493.46px;
  top: -10%;
  left: 4.67%;
  right: -5.34%;
  background: #5022ED;
  transform: matrix(1, -0.04, -0.04, -1, 0, 0);
  z-index: -10;
}

.main-title {
  font-size: 60px;
  line-height: 66px;
  margin-bottom: 40px;
  padding-right: 100px;
  font-weight: bold;
}

.text {
  font-size: 24px;
  line-height: 31.2px;
}


.green {
  color: #16DFB5;
}

.start-now {
  color: #16DFB5;
  font-size: 18px;
  line-height: 20.7px;
}

.entitie {
  margin-left: 10px;
  font-weight: bold;
}

.main-right-back {
  position: relative;
  background-color: #E9F6FF;
  width: 466px;
  height: 510.56px;
  transform: rotate(-5.53deg);
  border-radius: 20px;
  left: 100px;
  margin-bottom: 100px;
}

.form {
  position: relative;
  width: 465px;
  height: 528px;
  border-radius: 20px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  transform: rotate(5.53deg);

}

.form-row {
  height: 48px;
  width: 412px;
  border: 1px solid #D9D9D9;
  border-radius: 20px;
  margin-left: 27px;
  display: flex;
  text-align: center;
}

.form-row:first-child {
  margin-top: 107px;
}

.form-row:nth-child(2) {
  margin-top: 25px;
}

.form-row > label {
  width: 20%;
  height: 46px;
  font-size: 15px;
  line-height: 22.5px;
  margin-top: 12px;
}

.form-row > input {
  width: 50%;
  height: 45px;
  padding-left: 5%;
  padding-right: 10%;
  font-family: 'PingFang SC', 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 22.5px;
  border: none;
  text-align: center;
}

.form-row > input:focus {
  outline: none;
}

.form-row > button {
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 10px;
  background-size: 22px 22px;
  text-align: left;
  width: 30%;
  height: 46px;
  border: none;
  border-radius: 0 20px 20px 0;
  background-color: transparent;
}

.form-row > button > span {
  line-height: 14px;
  font-size: 12px;
  margin-left: 3px;
}

.method {
  margin-top: 28px;
  margin-bottom: 37px;
  margin-left: 27px;
  font-size: 15px;
  line-height: 22.5px;
}

.line {
  height: 30px;
  width: 1px;
  margin-top: 9px;
  border: 1px solid #D9D9D9;
}

.form-row:last-of-type {
  height: 55px;
  font-size: 15px;
}

#payment {
  border: none;
  width: 80%;
  font-size: 16px;
}

.payment-img {
  width: 44px;
  background-image: './sepa.png';
  margin-left: 20px;
}

.btn-buy {
  margin-top: 80px;
  width: 415px;
  height: 48px;
  background-color: #16DFB5;
  border-radius: 5px 24px 24px 20px;
  margin-left: 27px;
  border: none;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
}

button, .btn-buy:hover {
  cursor: pointer;
}
.btn-buy:hover {
  box-shadow: 2px 4px 6px#16DFB5;
}
.fa.fa-angle-down {
  font-weight: 600;
  font-size: 14px;
}

@media (min-width: 992px) {
  .text.col-lg-6 {
    position: relative;
    top: -280px;
  } 
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
